@import "bootstrap";

// 共通
body, select, textarea, th, td, li, a, input {
  font-family: 'メイリオ','meiryo','ＭＳ Ｐゴシック','MS P Gothic','ヒラギノ角ゴ Pro','Hiragino Kaku Gothic Pro','Helvetica','sans-serif';
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

dd {
  margin: 0;
}

select {
  border: 1px solid #D9D9D9;
  font-size: 12px;
  padding: 7px 7px;
  background-position: right center;
}

.title_page {
  position: relative;
  border-bottom: 3px solid red;
  color: #333;
  font-size: 20px;
  text-align: left;

}


.container {
  max-width: 900px;
  margin-top: 50px;
}
.container dt {
  display: inline-block;
}
.container dd {
  display: inline-block;
}

// 新規登録
.bg-light {
  justify-content: space-around;
}

.col-md-3.d-flex.flex-row p {
  margin: 0;
  padding: 7px 0 0 0;
  width: 70px;
}


// TOPページ
.building_property {
  border: 3px solid #ccc;
  margin-top: 20px;
  padding: 20px;
}
.building_header {
  display: flex;
}
.building_header h2 {
  width: 100%;
  height: 72px;
  padding: 20px 0px 0px 10px;
  border-left: 3px solid red;
  background: #eee;
  font-size: 1.5rem;
}
.dropdown {
  font-size: 2rem;
}
.administrator dd {
  margin: 0 20px 0 0;
}

.building_detail {
  display: flex;
  margin-top: 20px;
}
.building_detail ul {
  width: 100%;
}
.building_detail dl {
  display: flex;
  border-bottom: dotted;
  padding-bottom: 20px;
}
.building_detail dt {
  color: #fff;
  background: #1B77B7;
  padding: 3px 15px;
  margin-right: 20px;
}

// TOP間取り
.room_datail ol {
  display: flex;
  padding: 0;
  margin: 0;
}
.room_datail ol li {
  width: 200px;
  border: 1px solid #ccc;
  text-align: center;
  background: #f5f5f5;
}

.room_datail ul {
  display: flex;
  padding: 10px 0px;
  margin: 0;
  border: 1px solid #ccc;
}
.room_datail ul li {
  width: 200px;
  text-align: center;
  word-break: break-all;
}
.room_datail strong {
  color: red;
}


// 詳細ページ
.building_property h3 {
  padding: 5px 0px 5px 10px;
  border-left: 3px solid red;
  background: #eee;
  margin: 40px 0 20px 0;
  font-size: 1rem;
}
.building_property img {
  margin: 10px 3px;
}
.l-property_view_table {
  margin-top: 15px;
}
.property_view_table {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #dbdbdb;
  border-collapse: collapse;
}
.property_view_table-title {
  background-color: #eeeeee;
  width: 79px;
  text-align: center;
  padding: 10px;
  border-right: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  border-collapse: collapse;
  vertical-align: middle;
}
.property_view_table-body {
  width: 245px;
  padding: 10px;
  box-sizing: border-box;
  border-top: 1px solid #dbdbdb;
  border-collapse: collapse;
}
.property_view_table-body strong {
  color: red;
}

// ログインtop
.sessionsLayoutHeader {
  box-sizing: inherit;
}
.sessionsLayoutHeader_title {
  margin: 30px 0;
  letter-spacing: 1px;
  font-size: 36px;
  font-weight: 400;
}
.text-center {
  text-align: center;
}

//SNSログイン
.btn-google-inverse {
  background-color: #c6594b;
  border-color: #a94335;
}
.btn-block {
  display: block;
  width: 100%;
  margin-top: 5px;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 3px;
}
.btn-google-inverse:hover {
  background-color: #c6594b;
  border-color: #a94335;
}
.btn-google-inverse a {
  text-decoration: none;
  color: #fff;
}
.sessionsLayout_guide {
  color: #999;
  padding-top: 20px;
  border-top: 1px solid #eee;
  margin-top: 20px;
  margin-bottom: 30px;
}
.sessionsLayoutFormColumn {
  border-left: 1px solid #eee;
  overflow: hidden;
}
.login_btn {
  width: 100%;
}


// 申し込みフォーム
.option-list li {
  width: 33%;
  float: left;
}
.width-430 {
  width: 430px;
}
.m-lefl-30 {
  margin-left: 30px;
}
